James Allen <jamesallen0108@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Trevor Bekolay <tbekolay@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Michael Hansen <hansen.mike@gmail.com>
Mike Jackson <michaelj@epcc.ed.ac.uk>
W. Trevor King <wking@tremily.us>
François Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Aaron O'Leary <aaron.oleary@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
